<footer class="footer">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <li><a href="#">Tienda video juegos</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Nosotros</a></li>
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, <a href="#" class="font-weight-bold ml-1" target="_blank">Tienda video juegos</a>
                </span>
            </div>
        </div>
    </div>
</footer>
